body {
  background-color: aliceblue;
  box-sizing: border-box;
}
/* The below prevents having to use different widths and padding on labels and text in the clue input boxes*/
*, *:before, *:after {
  box-sizing: inherit;
}
*:focus {
    outline: 0;
}

#board{
  display: inline-block;
  float: left;
  padding: 0 20px;
}

#board label{color: red; display: none;}

#board > .outer-square{
  display: inline-block;
  width: 60px;
}
#board .position{
  background: gold;
  height: 60px;
  width: 65px;
  display: inline-block;
}
.square{
  position: absolute;
  padding: 4px;
  background: lightgray;
  border: 1px solid yellow;
}
.square input{
  font-size: 20;
  text-transform: uppercase;
  width: 54px;
  height: 49px;
  padding: 0 0 0 20px;
  background-color: lightyellow;
}
.square .number{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: bold;
  /*border: 1px solid gray;*/
  padding: 2px 6px;
  background-color: lightgray;
}
.square .remove{
  /*visibility: hidden;*/
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
}
.square .remove:hover{
  /*visibility: visible;*/
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid black;
  padding: 3px;
  color: white;
  background-color: red;
  cursor: pointer;
}

/* Reset, save, check */
#reset button, #save button, #check button{
  cursor: pointer;
  display: inline-block;
  background-color: gold;
  margin: 10px;
  font-size: 18px;
  padding: 10px;
}
#reset, #save, #check{
  display: inline-block;
  float: left;
  background: blue;
  margin: 1px;
}

/* Clue */
#clues{
  display: inline-block;
  float: left;
  padding: 0 20px 20px 20px;
  background: #ccc;
  min-width: 350px;
  min-height: 200px;
}

#clues .add-clue li input,
#clues .add-clue li.editing label{
  display: none;
}
#clues .add-clue li.editing input,
#clues .add-clue  label{
  display: inline-block;
}

.cnumber{padding: 5px; }
.ctext {padding: 5px 5px 5px 10px;}
.clength {padding: 5px 2px}
#clues input{background-color: lightyellow; color: navy; border-radius: 5px;}
#clues label{
    color: white;
    border-radius: 5px;
    background: -webkit-linear-gradient(blue, navy); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, navy); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, navy); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, navy); /* Standard syntax (must be last) */
}

#clues h3{
  font-size: 16px;
  background: lightgray;
  margin-bottom: 0;
}
#clues ul{
  list-style-type: none;
  padding-left: 0;
  margin: 1px 0;
}
#clues input, #clues .remove{
  display: inline-block;
}
#clues .remove{
  border: 2px solid red;
  border-radius: 20px;
}
#clues .remove:hover{
  border: 2px solid gray;
  border-radius: 20px;
  background: red;
  color: black;
}
#add-clue-across, #add-clue-down{
  cursor: pointer;
  display: block;
  margin: 2px auto;
  width: 99%;
  height: 28px;
  background: royalblue;
  border-radius: 12px;
  font-size: 16px;
  color: yellow;
}
/* Input boxes */
#clues ul .cnumber{width: 30px;}
#clues ul label.cnumber{width: 30px;}
#clues ul .ctext{width: 210px;}
#clues ul label.ctext{width: 210px;}
#clues ul .clength{width: 30px;}
#clues ul label.clength{width: 30px;}
#clues ul .clength:before{content: "(";}
#clues ul .clength:after{content: ")"}
.remove{
  cursor: pointer;
  color: red;
  padding: 0 4px 0 5px;
  border-radius: 5px;
  font-weight: bold;
}

/*Sundry*/
.highlight{background-color: lawngreen; border: 2px solid green;}